<div class="jumbotron">
<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h1>Welcome to Gotato!</h1>
  <h3 class="jumbo-text text-muted">Your online sales database</h3>
  
  <button class="btn btn-lg btn-danger button_div">
    <strong><%= link_to "Sign up now!", signup_path, class: "shipment_btn" %></strong>
  </button>
</div>
</div>

<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 25px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text">What is Gotato?</p>
  	<p class="lead">A powerful online database that helps you mange your sales data.</p>
  	<p class="lead">Written exclusively for <%= link_to "Trendy Alley Shop", "https://www.facebook.com/trendy.alley", :target => "_blank" %>.</p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 30px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text">
  	  The current problem...
  	</p>
    <p><i class="fa fa-spinner fa-spin fa-3x"></i></p>
    <p class="lead">
  	  For a reseller with thousands of orders, keeping data on Excel is very inefficient:
  	</p>
    <p class="lead">
  	  Your productivity decreases as the number of records and users increase.
  	</p>
  	<p class="lead">
  	  Too many worksheets make it hard to visualize how data fits together.
  	</p>
  	<p class="lead">
  	  A hardware failure or virus can potentialy mess up your data files.
  	</p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text text-muted">
  	  Gotato was built to solve that problem.
  	</p>
  	<p class="lead home-text">How?</p>
  </div>
</div>

<div class="row" style="padding-bottom: 30px;">
<div class="container">
  <div class="col-xs-6 col-md-4">
	<h3>Smart and Simple</h3>
	<p class="lead">
		From calculate data to generate reports, Gotato automatically does all the hard work for you. All you need to do is input your entries.
	</p>
  </div>
  <div class="col-xs-6 col-md-4">
    <h3>Accessibile</h3>
    <p class="lead">Your data is saved on the cloud. You can access the database any time, anywhere via Internet connection. It's also mobile frendly.</p>
  </div>
  <div class="col-xs-6 col-md-4">
   <h3>Safe and Secure</h3>
   <p class="lead">The database is secured with authentication check. You can choose to download your database to your machine, or... destroy it anytime. </p>
  </div>
</div>
</div>

<legend></legend>
<div class="row" style="padding-top: 40px; padding-bottom: 50px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text">
  	  Interested?
  	</p>
  	<p class="lead"><%= link_to "Check out the instruction page.", "" %></p>
  	<p class="lead">
  		This project is open source on <%= link_to "https://github.com/LongPotato/Gotato", class: "sort-header", :target => "_blank" do %>
            <i class="fa fa-github-square"></i> GitHub
          <% end %>
        </li>
  	</p>
  </div>
</div>
<legend></legend>