<% if logged_in? %>

  <div class="row">
  	<div class="text-center">
  	  <h2> Welcome, <%= current_user.name.capitalize %> </h2>
  	  <h4> This is your homepage, where you will be able to view your recent activities and sales summary. </h4>
  	  <h4> To start managing your database, create new Order or new item in your Inventory. </h4>
  	  <h4> To view your account information or change your password, go to Account at the upper right. </h4>
  	  <h4> To report any issues, bugs, please use the Contact link at the bottom corner. </h4>
  	  <h4> Thank you. </h4>
  	</div>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Gotato!</h1>
    <h3>Your online sales database</h3>
  
    <div class="button_div">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
    </div>

  </div>
<% end %>