<li id="text-message">
<div class="panel panel-default">
  <div class="panel-body">
	  <span><b><%= display_name(message.user).titleize %></b>:</span> <span class="text-body"><%= message.body %></span>
	  <span class="pull-right text-muted"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
</div>
</li>