<div class="panel panel-default">
  <div class="panel-body">
  <span class="glyphicon glyphicon-plus text-muted">
  <%= a.created_at.strftime('%H:%M:%S %m/%d/%Y') %></span>
  <p class="activity-text">
  <% if a.trackable %>
    Created order #<%= link_to a.trackable.id, user_order_path(a.trackable.user, a.trackable.id) %> for customer <%= link_to a.trackable.customer.name.try(:titleize), user_customer_path(a.trackable.user, a.trackable.customer_id) %>.
  <% else %>
    Created an order that is currently deleted.
  <% end %>
  </p>
 </div>
</div>