<span class="glyphicon glyphicon-remove text-muted">
 <%= display_name(a.owner.name) %> <%= a.created_at.strftime('%H:%M:%S %m/%d/%Y') %>
</span>

<p class="activity-text">
 Deleted an order request.
</p>

<legend></legend>
