<h1>New password</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.password_field :password %>

      <%= f.password_field :password_confirmation %>

      <%= f.submit "Change my password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>