<% provide(:title, "Account") %>

<h1>Account</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">	
 <p class="p_account"><b>Name:</b>  <%= @user.name %></p>
 <p class="p_account"><b>Email:</b> <%= @user.email %></p>
 <p class="p_account"><%= link_to "Change my password", account_password_user_path %></p>
 </div>
</div>