<div class="panel panel-default">
  <div class="panel-body">
  <span class="glyphicon glyphicon-edit text-muted">
  <%= a.created_at.strftime('%H:%M:%S %m/%d/%Y') %></span>
  <p class="activity-text">
  <% if a.trackable %>
    Updated customer #<%= link_to a.trackable.name.try(:titleize), user_customer_path(a.trackable.user, a.trackable.id) %>'s info.
  <% else %>
    Updated customer's info that is currently deleted.
  <% end %>
  </p>
 </div>
</div>