<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Display custom orders</h4>
      </div>
      <form accept-charset="UTF-8" action="/users/<%= current_user.id %>/range_orders">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="modal-body">
        <label class="p_setting">Select time range:</label>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
          <input type="text" class="form-control daterange" name="time"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    </div>
  </div>
</div>