<div class="panel panel-default">
  <div class="panel-body">
  <span class="glyphicon glyphicon-shopping-cart text-muted">
  <%= a.created_at.strftime('%H:%M:%S %m/%d/%Y') %></span>
  <p class="activity-text">
  <% if a.trackable %>
    Added new store <%= link_to a.trackable.name.try(:titleize), user_store_path(a.trackable.user, a.trackable.id) %>.
  <% else %>
    Added a store that is currently deleted.
  <% end %>
  </p>
 </div>
</div>