<span class="glyphicon glyphicon-plane text-muted">
  <%= display_name(a.owner.name) %> <%= a.created_at.strftime('%H:%M:%S %m/%d/%Y') %>
</span>

<p class="activity-text">
  <% if a.trackable %>
    Created shipment #<%= link_to a.trackable.id, user_shipping_path(current_user, a.trackable.id) %> with <%= a.trackable.orders.count %> orders.
  <% else %>
    Created a shipment that is currently deleted.
  <% end %>
</p>

<legend></legend>
