@import "bootstrap-sprockets";
@import "bootstrap";


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #444;
    text-decoration: none;
  }
}


.navbar-default {
  background-color: white;
}


.nav_text {
  font-weight: bold;
}


#first_nav {
  font-weight: bold;
  font-size: 16px;
  padding-left: 25px;
  margin-left: 20px;
  border-left: 1px solid #eaeaea;
}


#next_nav {
  font-weight: bold;
  font-size: 16px;
  padding-left: 25px;
  margin-left: 10px;
  border-left: 1px solid #eaeaea;
}

#last_nav {
  font-weight: bold;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}


.nowrap {
  white-space: nowrap;
}


footer {
  margin-top: 45px;
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-top: 1px solid #eaeaea;
  color: gray;
  a {
    color: gray;
    float: left;
    &:hover {
      color: black;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


.jumbotron {
  background-color: #FFFFFF !important;
  text-align: center;
}


h1 {
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}


#login_btn {
  width: 100px !important;
}


.button_div {
  margin-top: 20px;
}


.p_account {
  font-size: 18px;
}


.order_btn {
  color: gray;
  &:hover {
    text-decoration: none;
    color: black;
  }
}


padding-table {
  padding-top: 10px;
}

.full-width-div {
  padding-top: 20px;
  width:100%;
  overflow-x: scroll;
}  


.p_order {
  font-size: 16px;
}


.field {
  margin-top: 20px;
}


#back_next {
  margin-top: -20px;
}


.tab-space {
  padding-left: 8px;
}


#plus-new-order {
  color: white;
}


.full-width {
  width:100%;
  overflow-x: scroll;
}

.nav-show {
  padding-left: 30px;
  padding-right: 30px;
}


.nav-order {
  padding-left: 15px;
  padding-right: 15px;
}

.p_setting {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}


#setting-field {
  margin-top: 50px;
}


.verticle-space {
  margin-bottom: 10px;
}


.extend-link {
  text-decoration: none;
}


.sort-header {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}


.sort {
  color: gray;
}


.math {
  font-size: 16px;
}


.math-show-order {
  color: gray;
  font-size: 12px;
}


.check-box {
  font-weight: 800;
}


.table-align {
  th, td {
   text-align: center;
  }
}



#view-image {
  margin-top: 10px;
  font-size: 18px;
}


.shipment_btn {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}


.view-btn {
  color: gray;
  &:hover {
  text-decoration: none;
  color: black;
  }
}


#next-btn {
  margin-left: 5px;
}


.info-panel {
  margin-top: 30px;
  color: gray;
}


.customer {
  color: black;
  &:hover {
    color: black;
  }
}


.customer-table {
  margin-top: 30px;
}



