@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #444;
    text-decoration: none;
  }
}


.navbar-default {
  background-color: white;
}


.nav_text {
  font-weight: bold;
}


#first_nav {
  font-weight: bold;
  font-size: 16px;
  padding-left: 25px;
  margin-left: 20px;
  border-left: 1px solid #eaeaea;
}


#next_nav {
  font-weight: bold;
  font-size: 16px;
  padding-left: 25px;
  margin-left: 10px;
  border-left: 1px solid #eaeaea;
}

#last_nav {
  font-weight: bold;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.container {
  white-space: nowrap;
  .full-width-div {
    display: inline-block;
  }
}



footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: gray;
  a {
    color: gray;
    float: left;
    &:hover {
      color: black;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


.jumbotron {
  background-color: #FFFFFF !important;
  text-align: center;
}


h1 {
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}


#login_btn {
  width: 100px !important;
}


.button_div {
  margin-top: 20px;
}


.p_account {
  font-size: 18px;
}


.order_btn {
  color: gray;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.full-width-div {
  width:100%;
  overflow-x: scroll;
}  

