<% provide(:title, 'Sale Reports') %>

<div class="row">
<div class="col-md-10 col-md-offset-1">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><%= link_to "Summary", user_report_path(current_user), class: "customer", method: :post %></li>
    <li role="presentation"><%= link_to "Monthly Index", user_months_path(current_user), class: "customer" %></a></li>
  </ul>
</div>
</div>