<footer class="footer">
  <a href="https://github.com/LongPotato">LongPotato</a>
  <nav>
    <ul>
      <li><%= link_to "Back to top", "" %></li>
      <li><%= link_to "Help", "" %></li>
      <li><%= link_to "Issues", "https://github.com/LongPotato/Gotato/issues", :target => "_blank" %></li>
    </ul>
  </nav>
</footer>