<div class="row">
  <div class="col-md-10 col-md-offset-1">
	<footer class="footer">

		  <a href="https://github.com/LongPotato" target="_blank">LongPotato</a>
		  <%= link_to "Issues", "https://github.com/LongPotato/Gotato/issues", :target => "_blank", class: "pull-right" %>

	</footer>
  </div>
</div>


<!--
<footer class="footer">
  <a href="https://github.com/LongPotato" target="_blank">LongPotato</a>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</footer>
-->